body, header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

table, td{
    border: 1px solid salmon;
    padding: 12px;
    margin: 10px;
}

.navbar{
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: aqua;
    width: 50%;
    align-items: center;
    border: 4px solid salmon;
}

form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    width: 50%;
    padding: 12px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

#pictures{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 110px;
}